.wdt{    
    width: 90% !important;    
}    
.img    
{    
    height: 630px !important;    
    width: 100vw;    
} 
.slick-next{
    right: 20px!important;;
    z-index: 1100;
}

.slick-prev{
    left: 0!important;;
    z-index: 1100;
}

.slick-next::before,.slick-prev::before{
    font-size: 40px!important;
    
}
.pagination {
    display: block;
    list-style: none;
    cursor: pointer;
    text-align: center;
  }

  .pagination li{
      display: inline-block;
      min-width: 50px;
      margin-right: 10px;

  }
  
  .pagination a {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    width: 100%;
    text-align: center;    
    border: 1px solid #6c7ac9;
    color: #6c7ac9;
    background-color: white;
    cursor: pointer;
    user-select: none;
  }
  .pagination a:hover{
      text-decoration: none;
      background-color: skyblue;
  }
  
  .pagination__link {
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: #6c7ac9;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
    background-color: gray;
  }

  .pagination__link--disabled:hover a {
    background-color: gray;
  }
  .footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}